<footer class="site-footer scheme-4">
  <div class="container footer-container">

    <!-- Left: Copyright / Author -->
    <div class="footer-left">
      &copy; {{ site.time | date: "%Y" }} 
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.description | escape }}
      {%- endif -%}
    </div>

    <!-- Right: Social Icons -->
    <div class="footer-right">
      <ul class="social-icons">
        {%- for social in site.social -%}
          <li>
            <a href="{{ social.url }}" target="_blank" rel="noopener">
              <img src="{{ social.icon }}" alt="{{ social.name }}" />
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

  </div>
</footer>


<!-- Analytics scripts remain here -->
{% if site.fathom_key %}
<script>
(function(f,a,t,h,o,m){
  a[h]=a[h]||function(){(a[h].q=a[h].q||[]).push(arguments)};
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
{% if site.fathom_domain -%}
})(document, window, '//{{ site.fathom_domain }}/tracker.js', 'fathom');
{%- else -%}
})(document, window, '//stats.usefathom.com/tracker.js', 'fathom');
{%- endif %}
fathom('set', 'siteId', '{{ site.fathom_key }}');
fathom('trackPageview');
</script>
{% endif %}

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', {{ site.google_analytics }}, 'auto');
ga('send', 'pageview');
</script>
{% endif %}
