<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <!-- Link your main stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <body class="scheme-1">
    <!-- Header -->
    {%- include header.html -%}

    <!-- Main content (for sticky footer) -->
    <main class="site-content">
      <div class="py-5">
        <div class="container page-content">
          {{ content }}
        </div>
      </div>
    </main>

    <!-- Footer -->
    {%- include footer.html -%}
  </body>
</html>
