<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <!-- Link your main stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <body class="scheme-1">
    <!-- Header -->
    {%- include header.html -%}

    <!-- Main content (for sticky footer) -->
    <main class="site-content">
      <div class="main-content">
        {{ content }}
      </div>
    </main>

    <!-- Footer -->
    <footer class="site-footer scheme-4">
      <div class="container">
        {%- include footer.html -%}
      </div>
    </footer>
  </body>
</html>
